

body{
	
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
}
/*section,
div {
	border:1px solid Chocolate;
}*/

.content {
    padding: 0 0.938rem;
    margin: 0 auto;
    min-width: 37.5rem;
    width: 60%
}



.top-nav{
	background-color: #fff;
    position: fixed;
width: 100%;
z-index: 9999;
    border-bottom: 1px solid #DDD;
}
.top-nav > .content{
height: 4.375rem;


}
.top-nav .links{
	font-family: 'Roboto', sans-serif;
    float: right;
    color: #838994;
    font-size: 16px;
    margin-top: 25px;
    -webkit-font-smoothing: antialiased;
}

.top-nav .links li {
    display: inline-block;
    margin-left: 25px;
    
}
.top-nav .links .active {
    color: #4c5058;
    font-weight: 500;
}
.top-nav .links li:hover {
    cursor: pointer;
    color: #333333;
}
.top-nav .logo {
    height: 4.375rem;
}
.intropicture {
    background-image: url("../images/first-background.jpg");
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    height: 45.938rem;
    width: 100%;
    overflow: auto;
}
.content h1,
.content h3{
color: white;
padding: 0 1rem;
    margin: 0 auto;
    text-align: center;
    font-weight: 300;

}

.content h1{
    margin-top: 17.5rem;
    font-size: 3.12rem;
}
.content h3{
    margin-top: 1.25rem;
    font-size: 1.56rem;
}

button{
    background-color: #f15a29;
    border-color: #f15a29;
    color: white;
    border-radius: 4px;
    border-style: none;
    width: 9.688rem;
    padding: 1rem 1.5rem;
    font-size: 1.125rem;
}
.button{
    text-align: center;
    margin-top: 1.563rem;

}
.icon .content{
    color: black;
    text-align: center;
    margin-top: 7.87rem;
    padding: none;
    text-align: center;
}

.icon .content h2{
    font-size: 2.75rem;
    color: black;
    margin-top: 10rem;
    font-weight: 300;
}
.icon .content h3{    
    font-size: 1.56rem;
    color: black;
    margin: 2.5rem 0px 1.875rem;
}
.iconlist li{
display: inline-block;
float: left;
width: 33.33%

}
.devices{
    width: 33.3333333%;
    display: inline-block;
    /* styles to assist with debugging */
    /*border: 1px solid black;
    box-sizing: border-box;*/
    height: 4em;
}
.footer{
    background-color: #fff;
    padding-bottom: 9.375rem;
    text-align: center;
}

.footer .content hr{

    border-top: 1px solid #eaebec;
    margin: 1.313rem 0;

}
.socialIcon{
    list-style:none;
    text-align: center; 
}
.socialIcon li{
    border-radius: 1.25rem;
    width: 2.5rem;
    height: 1.1rem;
    display: inline-block;
    margin: 1.25rem 5px;
    border: 1px solid #eaebec;
    padding: 0.625rem 0;
    text-align: center;
}
.socialIcon .twitter{
        color: #55acee;
}
.content .copy{
    text-align: center;
    font-size: 0.9rem;
    font-weight: 300;
    color: #838994;
}